.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem 1rem;

}

@media (max-width: 760px){
    .product-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}