.cart-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

.quantity-controls {
    display: flex;
    gap: 1rem;
}

.item-info{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.icon{
    width: auto;
    height: 5rem;
}

@media (max-width:760px){
    .cart-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
    }
}